@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-button {
    @apply py-2.5 px-10 bg-custom-white rounded-lg flex items-center;
  }

  .details-block {
    @apply bg-custom-white rounded-2xl p-5 flex flex-row w-full justify-between
  }

  .details-block-label {
    @apply opacity-30 font-medium text-sm
  }

  .details-block-content {
    @apply absolute w-[calc(100%-40px)] h-[calc(100%-40px)] flex items-center justify-center
  }
}

body {
  background: linear-gradient(90deg, #C2E9D6, #C2DFFE);
  font-family: 'Roboto', sans-serif;
}

input, select, textarea {
  color: #747474;
  background: transparent;
}

textarea:focus, input:focus{
  outline: none;
}
